.todos {
  width: 100%;
}

.infos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}

.infos span {
  background-color: var(--gray-400);
  color: var(--gray-200);
  padding: 0.05rem 0.5rem;
  border-radius: 1rem;
  margin-left: 0.5rem;
  font-size: 0.75rem;
}

.tasks {
  color: var(--blue);
  font-weight: bold;
}

.dones {
  color: var(--purple);
  font-weight: bold;
}
